.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/
intro-to-tensorflow/*.zip
intro-to-tensorflow/*.pickle

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*


semi-supervised/data/

semi-supervised/checkpoints/

semi-supervised/images/

embeddings/checkpoints/
